
<div id="{{cityId}}" class="container">
  <h1>Weather for {{cityName}}</h1>
  <div class="row">
    <div class="col-sm-4">
      <h4>Temperature</h4>
      <h1>{{temp}}&deg F</h1>
    </div>
    <div class="col-sm-6">
      <div>
      </div>
    </div>
  </div>
</div>
